html, body {
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}

#range {
    display: flex;
    justify-content: center;
}

#sketch-holder {
    margin: 0;
    display: flex;

    justify-content: center;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0px 15px 0px;
}
